





body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.3em;
    letter-spacing: .5px;

}
.sorca {font-family: 'Source Code Pro', monospace;}
lh {
    font-weight: bolder;
}

li {
    list-style-type: none;
    font-size: 90%;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.1px;
  text-align: center;
}


.moreInfo {
    background-color: lightgoldenrodyellow;
}
/**/
* {
    box-sizing: border-box;
  }
  
  body {
    background: #eceef1;
    font-family: "Slabo 27px", serif;
    color: #333a45;
  }
  
  .wrapper {
    margin: 5em auto;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  }
  
  .header {
    padding: 30px 30px 0;
    text-align: center;
  }
  .header__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
  }
  .header__subtitle {
    margin: 0;
    font-size: 1.5em;
    color: #949fb0;
    font-family: "Yesteryear", cursive;
    font-weight: 500;
    line-height: 1.1;
  }
  
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
  }
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px);
    }
  }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  .card:hover .card__inner {
    background-color: #1abc9c;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .card__inner:after {
    transition: all 0.3s ease-in-out;
  }
  .card__inner .fa {
    width: 100%;
    margin-top: 0.25em;
  }
  .card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #eceef1;
    font-size: 1.5em;
  }
  .card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .card__expander .fa:hover {
    opacity: 0.9;
  }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
  }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .card.is-expanded .card__inner {
    background-color: #1abc9c;
  }
  .card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
  }
  .card.is-expanded .card__inner .fa:before {
    content: "\f115";
  }
  .card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }
  .card.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
  }
  .card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  @media screen and (min-width: 992px) {
    .card:nth-of-type(3n + 2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(3n + 3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
  
    .card:nth-of-type(3n + 4) {
      clear: left;
    }
  
    .card__expander {
      width: calc(300% + 60px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n + 2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(2n + 3) {
      clear: left;
    }
  
    .card__expander {
      width: calc(200% + 30px);
    }
  }
  





  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}
a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}
