html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}



body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3em;
  letter-spacing: .5px;
  width: 75vw;
  margin: 0 auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.redColor {
  color: #E24B3B;
}

.blueColor {
  color: #00959C;
}

.orange {
  background-color: #FF7724;
}

.blue {
  background-color: #00AFB2;
}

.fontPermMarker {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .3rem;
  line-height: 2rem;
  font-size: 200%;
}

.fontJosefinSans {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .1rem;
  padding-top: 5px;
}

.fontSrcCodePro {
  font-family: 'Source Code Pro', monospace;
}

.btnslash {
  display: inline-block;
  transform: scale(1, 2);
  -webkit-transform: scale(1, 2);
  /* Safari and Chrome */
  -moz-transform: scale(1, 2);
  /* Firefox */
  -ms-transform: scale(1, 1.5);
  /* IE 9+ */
  -o-transform: scale(1, 1.5);
}

.imgIntro {
  width: 100%;
  height: auto;
}



button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  color: #E24B3B;
  border-color: currentColor;
}


p {
  font-size: 80%;
}

#dashTop {
  background-color: black;
  color: white;
  font-size: 100%;
  letter-spacing: auto;
  padding: 10px;
  width: 100%;
}

input {
  border-bottom: 1px solid #E24B3B;
  border-left: 3px solid #E24B3B;
  border-top: 0px;
  padding: 5px;
  margin: 5px;
}


lh {
  font-weight: bolder;
}

li {
  list-style-type: none;
  font-size: 90%;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.dashButton {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  margin: 4px 2px;
  width: 100px;
  height: 100px;
  display: block;
}